header 
{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

header h1
{
    font-size: 40px;
    color: white;
}

body
{
    background: grey;
    position: relative;
    text-align: center;
    top: 100px;
}

#calculator
{
    background: black;
    border: 10px solid white;
    width: 300px;
    height: auto;
    margin: auto auto;
}

#display_container
{
    background: white;
    height: 65px;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    text-align: right; 
    justify-content: space-around;
}

#history_display
{
    color: black;
    font-weight: bold;
    font-size: 30px;
}

#main_display
{
    color: black;
    font-weight: bold;
    font-size: 30px;
}

button
{
	display: inline-block;
    border: none;
    color: white;
	height: 50px;
	width: 72px;
    font-size: 20px;
}

#buttons_container
{
    margin-bottom: 5px;
}

.ButtonFnc, .ButtonOp
{
    background-color: #346bd1;
}

.ButtonNum, .ButtonFnc#dot, .ButtonFnc#del
{
    background-color: black;
}

.ButtonFnc:hover, .ButtonOp:hover
{
    background-color: #3976e6;
}

.ButtonNum:hover, .ButtonFnc#dot:hover , .ButtonFnc#del:hover
{
    background-color: #1a1a1a;
}
